{% extends "crosslan/base.html" %}
{% load staticfiles %}

{% block title %} Cross Lan | Join {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'crosslan/css/register.css' %}">
{% endblock %}

{% block mainbody %}
<div id="register-panel" class="shadow-block panel">
	<div id="register-gravatar" class="shadow-block round" title="Emmet"></div>
	<div id="register-username">Emmet Jang</div>
	<form action="{% url 'crosslan:register' %}" method="post" id="registerForm">
	{% csrf_token %}
		<input class="k-textbox textbox" type="text" id="id_email" value="Email" name="email"/>
		<input class="k-textbox textbox" type="text" id="id_username" value="Username" name="username"/>
		<input class="k-textbox textbox" type="text" id="id_password" value="Password" name="password"/><i class="fa fa-eye"></i>
		<input class="k-textbox textbox" type="text" id="id_redeem" value="RedeemCode" name="redeem"/>
		<input class="k-button" type="submit" id="id_submit" value="Register"/>
	</form>
	<div id="panel-cover"></div>
</div>
{% endblock %}

{% block script %}
	<script src="{% static 'crosslan/js/register.js' %}"></script>
{% endblock %}
