html, body {
	height: 100%;
}

#mainbody{
	padding-top: 53px;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -40px;
	padding-bottom: 40px;
}

ul.dropdown-menu {
	margin-top:0!important;
}

nav.side-nav h3 {
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.thin {
	font-weight: 200;
}

.thin h3 {
	font-weight: 200;
}

ul.no-bullets {
	list-style: none;
	padding-left: 0;
}

.anchor-link {
	float: left;
	margin-left: -1.2em;
	text-align: center;
	margin-top: .4em;
	font-size: .6em;
	opacity: 0;
}

.anchor-link:focus, :hover>.anchor-link {
  opacity: .75;
}

footer#footer {
	width: 100%;
}

div.col-xs-10 h3 {
	text-align: center;
	font-weight: 400;
}
