html, body {
	height: 100%;
}

#mainbody{
	padding-top: 53px;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -40px;
	padding-bottom: 40px;
}

ul.dropdown-menu {
	margin-top:0!important;
}

nav.side-nav h3 {
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.thin {
	font-weight: 200;
}

.thin h3 {
	font-weight: 200;
}

ul.no-bullets {
	list-style: none;
	padding-left: 0;
}

.anchor-link {
	float: left;
	margin-left: -1.2em;
	text-align: center;
	margin-top: .4em;
	font-size: .6em;
	opacity: 0;
}

.anchor-link:focus, :hover>.anchor-link {
  opacity: .75;
}

footer#footer {
	width: 100%;
}

div.col-xs-10 h3 {
	text-align: center;
	font-weight: 400;
}


/*For SignIn and SignUp*/
div.shadow-block {
	box-shadow: rgb(171, 171, 171) 1px 1px 2px 1px;
}

.round {
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 60px;
}

div.panel {
	position: relative;
	margin: 50px auto;
	width: 550px;
	padding: 20px 30px;
	border-radius: 5px;
	background-color: #FFF;
}

#panel-cover {
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	background: url(../img/Flat/loading-image.gif) no-repeat center center;
	background-color: #FFF;
	position: absolute;
	border-radius: 5px;
	display: none;
}

label.label-wrap {
	line-height: 1.2;
}

.input-group[class*=col-] {
	padding-left: 15px;
	padding-right: 15px;
	float:left!important;
}

.input-group-inside[class*=col-] > input {
	border-right: none;
}
.input-group-inside[class*=col-] > span > button {
	background-color: transparent!important;
	color:#000!important;
}
