input#id_originUrl,input#id_shortUrl {
	color: #aaa;
	display: block;
	margin: 20px auto;
	width: 150px;
	text-align: center;
	font: 16px Monaco,'Helvetica Neue','Hiragino Sans GB',Arial,sans-serif;
}

input#id_submit {
	display: block;
	margin: 20px auto;
	width: 150px;
}

input#id_submit:hover {
	background-color: #53bf6b;
}
